html, body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.bodo {
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
}
.left-login {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Agar gambar memenuhi area elemen */
    background-position: center; /* Menjaga gambar tetap terpusat */
    width: 800px;
    height: 100vh;
    z-index: 10;
    left: 0;
}
.left-middle {
    display: flex;
}
.left-middle .left {
    display: flex;
    flex-direction: column;
}
.left-middle .left h1 {
    font-size: 47px;
    font-weight: 600;
}
.left-middle .left h2 {
    font-size: 33px;
    font-weight: 600;
}
.left-middle .left .combine {
    margin-top: 30px;
    font-size: 15px;
    gap: 0;
    font-weight: 500;
}
.combine p {
    margin: 0;
}
.combine a {
    text-decoration: none;
    color: #4D47C3;
    font-weight: bold;
}
.left-middle img {
    display: flex;
    width: 400px;
    position: absolute;
    align-self: center;
    margin-left: 130px;
}


.right-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 850px;
    margin-right: 0;
    gap: 20px;
}
.right-login h1 {
    font-size: 28px;
    font-weight: 600;
}
input {
    width: 330px;
    padding: 15px;
    border: none;
    background-color: #F0EFFF;
    border-radius: 8px;
}
input::placeholder {
    font-size: 14px;
    color: #A7A3FF;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.toggle-password {
    position: absolute; /* Memastikan ikon berada di dalam input */
    top: 50%;
    right: 10px;
    transform: translateY(-50%); /* Memposisikan ikon di tengah vertikal */
    cursor: pointer;
    font-size: 18px; /* Sesuaikan ukuran ikon */
    color: #A7A3FF; /* Gaya warna untuk ikon */
}
.password-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 330px; /* Menyesuaikan dengan lebar input */
}
.formku {
    display: flex;
    flex-direction: column;
}
.forgot {
    display: flex;
    font-size: 12.5px;
    color: #B0B0B0;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
}
.btn {
    background-color: #3498DB;
    font-size: 15px;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}